<section>

    <div class="container py-5">
        <div class=" text-center mb-5">
            <div class="mb-4">
                <img src="../../assets/su-logo.png" alt="">
            </div>
            <div class="  ">

                <ul class="navbar-nav  d-flex flex-row justify-content-center">
                    <li class="nav-item">
                        <a href="https://www.linkedin.com/in/mustafa-selim/"><i
                                class="fa-brands fa-linkedin text-black fs-3 me-4"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/mustafaselim01283"><i
                                class="fa-brands fa-github text-black fs-3 me-4"></i></a>
                    </li>

                    <li class="nav-item">
                        <a href="mailto:mustafaselim01283@gmail.com"><i
                                class="fa-solid fa-envelope text-black fs-3 me-4"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="https://wa.me/+201117483433"><i
                                class="fa-brands fa-whatsapp text-black fs-3 me-4"></i></a>
                    </li>

                </ul>
            </div>
            
        </div>
       
        <div class=" text-center">
            <p>Copyright © 2024 <a class="text-decoration-underline" style="color:steelblue">Super User</a>. All Rights Reserved.</p>
        </div>


    </div>

</section>